<form name="form" class="css-form" novalidate xmlns="http://www.w3.org/1999/html">
    <div><input type="text" ng-model="user.firstname" name="firstname" required /></div>
    <div><input type="text" ng-model="user.lastname" name="lastname" required /></div>
    <div><input type="text" ng-model="user.company_email" name="company_email" required /></div>
    <div><input type="text" ng-model="user.personal_email" name="personal_email" required /></div>
    <div><input type="text" ng-model="user.country.countryid" name="countryid" required /></div>
    <div><input type="text" ng-model="user.status" name="status" required /></div>
    <div>Invalid:
        <span ng-show="form.firstname.$error.required">Missing firstname.</span>
    </div>
    <button ng-click="update(user)"
            ng-disabled="form.$invalid || isUnchanged(user)">SAVE</button>
    <button ng-click="delete(user)">Delete</button>
</form>