<form name="form" class="css-form" novalidate xmlns="http://www.w3.org/1999/html">
    <div><input class="form-control" type="text" ng-model="user.company_email" name="company_email" required /></div>
    <div><input class="form-control" type="password" ng-model="user.password" name="password" required /></div>
    <div>Invalid:
        <span ng-show="form.firstname.$error.required">Missing firstname.</span>
    </div>
    <button class="btn btn-default" ng-click="login(user)">Login</button>
</form>