body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:71px;
    top:19px;
    width:83px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_line {
    background-image: url('../Like_files/u1_line.png');
}

.u1_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:643px;
}

.u1 {
    position:absolute;
    left:199px;
    top:9px;
    width:10px;
    height:643px;
    
}

.u2 {
    position:absolute;
    left:232px;
    top:19px;
    width:132px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:229px;
    top:145px;
    width:50px;
    height:48px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u4 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:298px;
    top:146px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../Like_files/Line_Horizontal_u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:944px;
    height:3px;
}

.u6 {
    position:absolute;
    left:229px;
    top:53px;
    width:944px;
    height:10px;
    
}

.u7_mouseOver {
    background-image: url('../Like_files/u7_mouseOver.png');
}

.u7_normal {
    background-image: url('../Like_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:1080px;
    top:73px;
    width:93px;
    height:30px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:36px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:89px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Like_files/Rectangle_u9_normal.png');
}

.u9_container {
    position:absolute;
    left:870px;
    top:73px;
    width:200px;
    height:30px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:36px;
}

.u10 {
    position:absolute;
    left:2px;
    top:7px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:875px;
    top:76px;
    width:190px;
    height:24px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u12_line {
    background-image: url('../Like_files/Line_Horizontal_u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:944px;
    height:3px;
}

.u12 {
    position:absolute;
    left:229px;
    top:113px;
    width:944px;
    height:10px;
    
}

.u13_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:298px;
    top:176px;
    width:42px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_menu {
    background-image: url('../Like_files/menu_u15_menu.png');
}

.u15_menu {
    position:absolute;
    left:11px;
    top:50px;
    width:174px;
    height:383px;
}

#u15_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:380px;
}

#u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:379px
}

.u17_mouseOver {
    background-image: url('../Like_files/u17_mouseOver.png');
}

.u17_selected {
    background-image: url('../Like_files/u17_selected.png');
}

.u17_normal {
    background-image: url('../Like_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:165px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u18 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_mouseOver {
    background-image: url('../Like_files/u19_mouseOver.png');
}

.u19_selected {
    background-image: url('../Like_files/u19_selected.png');
}

.u19_normal {
    background-image: url('../Like_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:40px;
    width:165px;
    height:43px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:49px;
}

.u20 {
    position:absolute;
    left:6px;
    top:14px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_mouseOver {
    background-image: url('../Like_files/u17_mouseOver.png');
}

.u21_selected {
    background-image: url('../Like_files/u17_selected.png');
}

.u21_normal {
    background-image: url('../Like_files/u17_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:83px;
    width:165px;
    height:40px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u22 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../Like_files/u17_mouseOver.png');
}

.u23_selected {
    background-image: url('../Like_files/u17_selected.png');
}

.u23_normal {
    background-image: url('../Like_files/u17_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:123px;
    width:165px;
    height:40px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u24 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_mouseOver {
    background-image: url('../Like_files/u17_mouseOver.png');
}

.u25_selected {
    background-image: url('../Like_files/u17_selected.png');
}

.u25_normal {
    background-image: url('../Like_files/u17_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:163px;
    width:165px;
    height:40px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u26 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_mouseOver {
    background-image: url('../Like_files/u27_mouseOver.png');
}

.u27_selected {
    background-image: url('../Like_files/u27_selected.png');
}

.u27_normal {
    background-image: url('../Like_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:203px;
    width:165px;
    height:36px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u28 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_mouseOver {
    background-image: url('../Like_files/u27_mouseOver.png');
}

.u29_selected {
    background-image: url('../Like_files/u27_selected.png');
}

.u29_normal {
    background-image: url('../Like_files/u27_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:239px;
    width:165px;
    height:36px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u30 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_mouseOver {
    background-image: url('../Like_files/u31_mouseOver.png');
}

.u31_selected {
    background-image: url('../Like_files/u31_selected.png');
}

.u31_normal {
    background-image: url('../Like_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:275px;
    width:165px;
    height:33px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u32 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_mouseOver {
    background-image: url('../Like_files/u31_mouseOver.png');
}

.u33_selected {
    background-image: url('../Like_files/u31_selected.png');
}

.u33_normal {
    background-image: url('../Like_files/u31_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:308px;
    width:165px;
    height:33px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u34 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../Like_files/u31_mouseOver.png');
}

.u35_selected {
    background-image: url('../Like_files/u31_selected.png');
}

.u35_normal {
    background-image: url('../Like_files/u31_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:341px;
    width:165px;
    height:33px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u36 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u37_container {
    position:absolute;
    left:575px;
    top:146px;
    width:50px;
    height:48px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u38 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:644px;
    top:147px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u40_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u40_container {
    position:absolute;
    left:644px;
    top:177px;
    width:42px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u42_container {
    position:absolute;
    left:947px;
    top:150px;
    width:50px;
    height:48px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u43 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:1016px;
    top:151px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u45_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u45_container {
    position:absolute;
    left:1016px;
    top:181px;
    width:42px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u47_container {
    position:absolute;
    left:229px;
    top:235px;
    width:50px;
    height:48px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u48 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:298px;
    top:236px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u50_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u50_container {
    position:absolute;
    left:298px;
    top:266px;
    width:42px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u52_container {
    position:absolute;
    left:575px;
    top:236px;
    width:50px;
    height:48px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u53 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:644px;
    top:237px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u55_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u55_container {
    position:absolute;
    left:644px;
    top:267px;
    width:42px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u57_container {
    position:absolute;
    left:947px;
    top:240px;
    width:50px;
    height:48px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u58 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:1016px;
    top:241px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u60_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u60_container {
    position:absolute;
    left:1016px;
    top:271px;
    width:42px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u62_container {
    position:absolute;
    left:229px;
    top:326px;
    width:50px;
    height:48px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u63 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:298px;
    top:327px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u65_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u65_container {
    position:absolute;
    left:298px;
    top:357px;
    width:42px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u67_container {
    position:absolute;
    left:575px;
    top:327px;
    width:50px;
    height:48px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u68 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:644px;
    top:328px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u70_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u70_container {
    position:absolute;
    left:644px;
    top:358px;
    width:42px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u72_container {
    position:absolute;
    left:947px;
    top:331px;
    width:50px;
    height:48px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u73 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:1016px;
    top:332px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u75_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u75_container {
    position:absolute;
    left:1016px;
    top:362px;
    width:42px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u77_container {
    position:absolute;
    left:229px;
    top:412px;
    width:50px;
    height:48px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u78 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:298px;
    top:412px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u80_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u80_container {
    position:absolute;
    left:298px;
    top:442px;
    width:42px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u82_container {
    position:absolute;
    left:575px;
    top:412px;
    width:50px;
    height:48px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u83 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:644px;
    top:414px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u85_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u85_container {
    position:absolute;
    left:644px;
    top:444px;
    width:42px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u87_container {
    position:absolute;
    left:947px;
    top:416px;
    width:50px;
    height:48px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u88 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:1016px;
    top:418px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u90_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u90_container {
    position:absolute;
    left:1016px;
    top:448px;
    width:42px;
    height:20px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u91 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u92 {
    position:absolute;
    left:537px;
    top:356px;
    width:312px;
    height:140px;
    overflow:hidden;
}

#pd0u92 {
    position:absolute;
    left:0px;
    top:0px;
    width:312px;
    height:140px;
    
}

.u93_normal {
    background-image: url('../Like_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:0px;
    width:311px;
    height:139px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:317px;
    height:145px;
}

.u94 {
    position:absolute;
    left:2px;
    top:62px;
    width:307px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:89px;
    top:22px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_mouseOver {
    background-image: url('../Like_files/Button_u96_mouseOver.png');
}

.u96_normal {
    background-image: url('../Like_files/Button_u96_normal.png');
}

.u96_container {
    position:absolute;
    left:176px;
    top:70px;
    width:100px;
    height:40px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u97 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_mouseOver {
    background-image: url('../Like_files/Button_u98_mouseOver.png');
}

.u98_normal {
    background-image: url('../Like_files/Button_u98_normal.png');
}

.u98_container {
    position:absolute;
    left:52px;
    top:70px;
    width:100px;
    height:40px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u99 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_line {
    background-image: url('../Like_files/u100_line.png');
}

.u100_line {
    position:absolute;
    left:0px;
    top:4px;
    width:680px;
    height:3px;
}

.u100 {
    position:absolute;
    left:325px;
    top:678px;
    width:680px;
    height:10px;
    
}

.u101_mouseOver {
    background-image: url('../Like_files/button_u101_mouseOver.png');
}

.u101_disabled {
    background-image: url('../Like_files/button_u101_disabled.png');
}

.u101_normal {
    background-image: url('../Like_files/button_u101_mouseOver.png');
}

.u101_container {
    position:absolute;
    left:433px;
    top:688px;
    width:30px;
    height:30px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u102 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_mouseOver {
    background-image: url('../Like_files/button_u101_mouseOver.png');
}

.u103_disabled {
    background-image: url('../Like_files/button_u101_disabled.png');
}

.u103_normal {
    background-image: url('../Like_files/button_u103_normal.png');
}

.u103_container {
    position:absolute;
    left:481px;
    top:688px;
    width:30px;
    height:30px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u104 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_mouseOver {
    background-image: url('../Like_files/button_u101_mouseOver.png');
}

.u105_disabled {
    background-image: url('../Like_files/button_u101_disabled.png');
}

.u105_normal {
    background-image: url('../Like_files/button_u103_normal.png');
}

.u105_container {
    position:absolute;
    left:530px;
    top:688px;
    width:30px;
    height:30px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u106 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_mouseOver {
    background-image: url('../Like_files/button_u101_mouseOver.png');
}

.u107_disabled {
    background-image: url('../Like_files/button_u101_disabled.png');
}

.u107_normal {
    background-image: url('../Like_files/button_u103_normal.png');
}

.u107_container {
    position:absolute;
    left:578px;
    top:688px;
    width:30px;
    height:30px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u108 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_mouseOver {
    background-image: url('../Like_files/button_u101_mouseOver.png');
}

.u109_disabled {
    background-image: url('../Like_files/button_u101_disabled.png');
}

.u109_normal {
    background-image: url('../Like_files/button_u103_normal.png');
}

.u109_container {
    position:absolute;
    left:626px;
    top:688px;
    width:30px;
    height:30px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u110 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_disabled {
    background-image: url('../Like_files/button_u111_disabled.png');
}

.u111_normal {
    background-image: url('../Like_files/button_u111_normal.png');
}

.u111_container {
    position:absolute;
    left:325px;
    top:688px;
    width:90px;
    height:30px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u112 {
    position:absolute;
    left:2px;
    top:8px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_mouseOver {
    background-image: url('../Like_files/button_u101_mouseOver.png');
}

.u113_disabled {
    background-image: url('../Like_files/button_u101_disabled.png');
}

.u113_normal {
    background-image: url('../Like_files/button_u103_normal.png');
}

.u113_container {
    position:absolute;
    left:674px;
    top:688px;
    width:30px;
    height:30px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u114 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_mouseOver {
    background-image: url('../Like_files/button_u101_mouseOver.png');
}

.u115_disabled {
    background-image: url('../Like_files/button_u101_disabled.png');
}

.u115_normal {
    background-image: url('../Like_files/button_u103_normal.png');
}

.u115_container {
    position:absolute;
    left:722px;
    top:688px;
    width:30px;
    height:30px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u116 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_mouseOver {
    background-image: url('../Like_files/button_u101_mouseOver.png');
}

.u117_disabled {
    background-image: url('../Like_files/button_u101_disabled.png');
}

.u117_normal {
    background-image: url('../Like_files/button_u103_normal.png');
}

.u117_container {
    position:absolute;
    left:770px;
    top:688px;
    width:30px;
    height:30px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u118 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_mouseOver {
    background-image: url('../Like_files/button_u101_mouseOver.png');
}

.u119_disabled {
    background-image: url('../Like_files/button_u101_disabled.png');
}

.u119_normal {
    background-image: url('../Like_files/button_u103_normal.png');
}

.u119_container {
    position:absolute;
    left:819px;
    top:688px;
    width:30px;
    height:30px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u120 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_mouseOver {
    background-image: url('../Like_files/button_u101_mouseOver.png');
}

.u121_disabled {
    background-image: url('../Like_files/button_u101_disabled.png');
}

.u121_normal {
    background-image: url('../Like_files/button_u103_normal.png');
}

.u121_container {
    position:absolute;
    left:867px;
    top:688px;
    width:30px;
    height:30px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u122 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_mouseOver {
    background-image: url('../Like_files/button_u123_mouseOver.png');
}

.u123_disabled {
    background-image: url('../Like_files/button_u123_disabled.png');
}

.u123_normal {
    background-image: url('../Like_files/button_u123_normal.png');
}

.u123_container {
    position:absolute;
    left:915px;
    top:688px;
    width:90px;
    height:30px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u124 {
    position:absolute;
    left:2px;
    top:8px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u125_container {
    position:absolute;
    left:229px;
    top:493px;
    width:50px;
    height:48px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u126 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:298px;
    top:494px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u128_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u128_container {
    position:absolute;
    left:298px;
    top:524px;
    width:42px;
    height:20px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u129 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u130_container {
    position:absolute;
    left:575px;
    top:494px;
    width:50px;
    height:48px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u131 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:644px;
    top:495px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u133_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u133_container {
    position:absolute;
    left:644px;
    top:525px;
    width:42px;
    height:20px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u135_container {
    position:absolute;
    left:947px;
    top:498px;
    width:50px;
    height:48px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u136 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:1016px;
    top:499px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u138_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u138_container {
    position:absolute;
    left:1016px;
    top:529px;
    width:42px;
    height:20px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u139 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u140_container {
    position:absolute;
    left:229px;
    top:579px;
    width:50px;
    height:48px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u141 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:298px;
    top:579px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u143_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u143_container {
    position:absolute;
    left:298px;
    top:609px;
    width:42px;
    height:20px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u144 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u145_container {
    position:absolute;
    left:575px;
    top:579px;
    width:50px;
    height:48px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u146 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:644px;
    top:581px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u148_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u148_container {
    position:absolute;
    left:644px;
    top:611px;
    width:42px;
    height:20px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u149 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../Like_files/u3_normal.png');
}

.u150_container {
    position:absolute;
    left:947px;
    top:583px;
    width:50px;
    height:48px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:54px;
}

.u151 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:1016px;
    top:585px;
    width:372px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u153_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u153_container {
    position:absolute;
    left:1016px;
    top:615px;
    width:42px;
    height:20px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:26px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u155 {
    position:absolute;
    left:0px;
    top:0px;
    width:1279px;
    height:821px;
    overflow:hidden;
}

#pd0u155 {
    position:absolute;
    left:0px;
    top:0px;
    width:1279px;
    height:821px;
    
}

.u156_normal {
    background-image: url('../Like_files/u156_normal.png');
}

.u156_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1279px;
    height:819px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1285px;
    height:825px;
}

.u157 {
    position:absolute;
    left:2px;
    top:402px;
    width:1275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../Like_files/u158_normal.png');
}

.u158_container {
    position:absolute;
    left:302px;
    top:179px;
    width:687px;
    height:422px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:693px;
    height:428px;
}

.u159 {
    position:absolute;
    left:2px;
    top:203px;
    width:683px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../Like_files/u160_normal.png');
}

.u160_container {
    position:absolute;
    left:322px;
    top:205px;
    width:388px;
    height:371px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:394px;
    height:377px;
}

.u161 {
    position:absolute;
    left:2px;
    top:178px;
    width:384px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:746px;
    top:205px;
    width:150px;
    height:105px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:746px;
    top:334px;
    width:219px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../Like_files/u164_normal.png');
}

.u164_container {
    position:absolute;
    left:959px;
    top:149px;
    width:30px;
    height:30px;
}

#u164_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u165 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

