* html .u1_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u1_line.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u6_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/Line_Horizontal_u6_line.png");
}

* html .u7_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u7_mouseOver.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u7_normal.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/Rectangle_u9_normal.png");
}

* html .u12_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/Line_Horizontal_u12_line.png");
}

* html .u15_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/menu_u15_menu.png");
}

* html .u17_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_mouseOver.png");
}

* html .u17_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_selected.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_normal.png");
}

* html .u19_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u19_mouseOver.png");
}

* html .u19_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u19_selected.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u19_normal.png");
}

* html .u21_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_mouseOver.png");
}

* html .u21_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_selected.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_normal.png");
}

* html .u23_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_mouseOver.png");
}

* html .u23_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_selected.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_normal.png");
}

* html .u25_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_mouseOver.png");
}

* html .u25_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_selected.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_normal.png");
}

* html .u27_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u27_mouseOver.png");
}

* html .u27_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u27_selected.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u27_normal.png");
}

* html .u29_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u27_mouseOver.png");
}

* html .u29_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u27_selected.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u27_normal.png");
}

* html .u31_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_mouseOver.png");
}

* html .u31_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_selected.png");
}

* html .u31_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_normal.png");
}

* html .u33_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_mouseOver.png");
}

* html .u33_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_selected.png");
}

* html .u33_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_normal.png");
}

* html .u35_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_mouseOver.png");
}

* html .u35_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_selected.png");
}

* html .u35_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_normal.png");
}

* html .u37_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u37_line.png");
}

* html .u38_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_mouseOver.png");
}

* html .u38_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_disabled.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_mouseOver.png");
}

* html .u40_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_mouseOver.png");
}

* html .u40_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_disabled.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u40_normal.png");
}

* html .u42_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_mouseOver.png");
}

* html .u42_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_disabled.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u40_normal.png");
}

* html .u44_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_mouseOver.png");
}

* html .u44_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_disabled.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u40_normal.png");
}

* html .u46_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_mouseOver.png");
}

* html .u46_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_disabled.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u40_normal.png");
}

* html .u48_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u48_disabled.png");
}

* html .u48_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u48_normal.png");
}

* html .u50_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_mouseOver.png");
}

* html .u50_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_disabled.png");
}

* html .u50_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u40_normal.png");
}

* html .u52_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_mouseOver.png");
}

* html .u52_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_disabled.png");
}

* html .u52_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u40_normal.png");
}

* html .u54_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_mouseOver.png");
}

* html .u54_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_disabled.png");
}

* html .u54_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u40_normal.png");
}

* html .u56_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_mouseOver.png");
}

* html .u56_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_disabled.png");
}

* html .u56_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u40_normal.png");
}

* html .u58_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_mouseOver.png");
}

* html .u58_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u38_disabled.png");
}

* html .u58_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u40_normal.png");
}

* html .u60_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u60_mouseOver.png");
}

* html .u60_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u60_disabled.png");
}

* html .u60_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u60_normal.png");
}

* html .u62_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u67_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u72_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u77_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u82_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u87_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u92_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u97_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u102_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u107_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u112_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u117_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u122_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u127_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u133_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u133_normal.png");
}

* html .u135_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u135_normal.png");
}

* html .u137_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u137_normal.png");
}

* html .u141_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u141_normal.png");
}

* html .u144_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u144_normal.png");
}

* html .u147_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/Button_u147_mouseOver.png");
}

* html .u147_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/Button_u147_normal.png");
}

* html .u149_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/Button_u149_mouseOver.png");
}

* html .u149_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/Button_u149_normal.png");
}

