* html .u1_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u1_line.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u6_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/Line_Horizontal_u6_line.png");
}

* html .u7_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u7_mouseOver.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u7_normal.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/Rectangle_u9_normal.png");
}

* html .u12_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/Line_Horizontal_u12_line.png");
}

* html .u15_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/menu_u15_menu.png");
}

* html .u17_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_mouseOver.png");
}

* html .u17_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_selected.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_normal.png");
}

* html .u19_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u19_mouseOver.png");
}

* html .u19_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u19_selected.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u19_normal.png");
}

* html .u21_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_mouseOver.png");
}

* html .u21_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_selected.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_normal.png");
}

* html .u23_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_mouseOver.png");
}

* html .u23_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_selected.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_normal.png");
}

* html .u25_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_mouseOver.png");
}

* html .u25_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_selected.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u17_normal.png");
}

* html .u27_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u27_mouseOver.png");
}

* html .u27_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u27_selected.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u27_normal.png");
}

* html .u29_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u27_mouseOver.png");
}

* html .u29_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u27_selected.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u27_normal.png");
}

* html .u31_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_mouseOver.png");
}

* html .u31_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_selected.png");
}

* html .u31_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_normal.png");
}

* html .u33_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_mouseOver.png");
}

* html .u33_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_selected.png");
}

* html .u33_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_normal.png");
}

* html .u35_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_mouseOver.png");
}

* html .u35_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_selected.png");
}

* html .u35_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u31_normal.png");
}

* html .u37_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u52_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u57_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u62_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u67_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u72_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u77_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u82_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u87_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u93_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u93_normal.png");
}

* html .u96_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/Button_u96_mouseOver.png");
}

* html .u96_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/Button_u96_normal.png");
}

* html .u98_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/Button_u98_mouseOver.png");
}

* html .u98_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/Button_u98_normal.png");
}

* html .u100_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u100_line.png");
}

* html .u101_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_mouseOver.png");
}

* html .u101_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_disabled.png");
}

* html .u101_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_mouseOver.png");
}

* html .u103_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_mouseOver.png");
}

* html .u103_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_disabled.png");
}

* html .u103_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u103_normal.png");
}

* html .u105_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_mouseOver.png");
}

* html .u105_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_disabled.png");
}

* html .u105_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u103_normal.png");
}

* html .u107_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_mouseOver.png");
}

* html .u107_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_disabled.png");
}

* html .u107_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u103_normal.png");
}

* html .u109_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_mouseOver.png");
}

* html .u109_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_disabled.png");
}

* html .u109_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u103_normal.png");
}

* html .u111_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u111_disabled.png");
}

* html .u111_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u111_normal.png");
}

* html .u113_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_mouseOver.png");
}

* html .u113_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_disabled.png");
}

* html .u113_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u103_normal.png");
}

* html .u115_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_mouseOver.png");
}

* html .u115_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_disabled.png");
}

* html .u115_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u103_normal.png");
}

* html .u117_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_mouseOver.png");
}

* html .u117_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_disabled.png");
}

* html .u117_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u103_normal.png");
}

* html .u119_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_mouseOver.png");
}

* html .u119_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_disabled.png");
}

* html .u119_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u103_normal.png");
}

* html .u121_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_mouseOver.png");
}

* html .u121_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u101_disabled.png");
}

* html .u121_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u103_normal.png");
}

* html .u123_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u123_mouseOver.png");
}

* html .u123_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u123_disabled.png");
}

* html .u123_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/button_u123_normal.png");
}

* html .u125_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u130_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u135_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u140_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u145_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u150_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u3_normal.png");
}

* html .u156_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u156_normal.png");
}

* html .u158_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u158_normal.png");
}

* html .u160_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u160_normal.png");
}

* html .u164_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Like_files/u164_normal.png");
}

