.btn2:hover,.com-counts .clickable:hover {opacity:0.6;filter:alpha(opacity=60);}

.btn:hover
{opacity:0.8;filter:alpha(opacity=80);}

.count-userinfo,
.btn,.btn2,.search-sub,.search-ipt,.menu-item-arrow,.menu-item,.com-counts .clickable,.count-item,.user,
a
{-webkit-transition:   all 0.3s ease;-moz-transition:  all 0.3s ease;-o-transition:  all 0.3s ease;-ms-transition:  all 0.3s ease;transition:  all 0.3s ease;}

