@charset "utf-8";
/*
 * bank wall
 * 2013-11-27
 */

/* Reset
================================================================================================= */
body{color:#000;font-size:12px;line-height:1.8em;background: #303030;overflow-x: hidden;padding:1px 0 0;}
html,body {height:100%;}
h1,h2,h3{font-size:100%;font-weight:600;}
body,h1,h2,h3,h4,ul,li,p,img,input,textarea{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;-webkit-user-drag:none;-moz-user-drag:none;-ms-user-drag:none;user-drag:none;}
ul{list-style:none;}
* {outline: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
textarea,input {-webkit-user-select: text;-khtml-user-select: text;-moz-user-select: text;-ms-user-select: text;user-select: text;}

/* Commonly Used
================================================================================================= */
a{text-decoration:none;color:#666}
/*a:hover{color:#ccc;}*/
.clear{+zoom:1;}
.clear:before,
.clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}
.clickable {cursor: pointer;}
.btn,.btn2 {cursor:pointer;-webkit-touch-callout: none;}

/* Hader Used
================================================================================================= */
.header{}
.logo{width:308px;height:93px;background: url('../img/logo.png') no-repeat;display: block;margin: 14px auto 20px;}
.language{position: absolute;right: 0;top: 0;border-left:#000 solid 1px;}
    .language-item{padding:15px 4px 10px 6px;}
    .language-item-fr{border-bottom:#000 solid 1px;}
    .language-item-on{background: url('../img/language-item-on.png') no-repeat center 4px;}
    .language-item p{width:38px;height: 38px;background: url('../img/language.png') no-repeat 0 0;}
    .language-item .en{background-position: top right}
.login{background: #eb1f40  url('../img/icon_login.gif') no-repeat 20px center;text-align:center;font-size:18px;color:#fff;font-family: 'HelveticaNeueLTStd-Blk', arial, sans-serif;width:300px;height: 55px;line-height: 55px;display: block;}
.select{border:#eb1f40 solid 1px;position: absolute;height:53px;line-height:53px;right: 0;top:127px;left:300px;right:0;font-family: 'HelveticaNeueMediumCond', arial, sans-serif; font-size:18px;font-weight: bold;background: url('../img/selectbox_arrow.gif') no-repeat 290px center;cursor: pointer;}
    .select-box{padding:0 0 0 20px;border-right:#000 solid 1px;margin-right:47px;}
    .select-pop{border:#000 solid 1px;border-top: 0;position: absolute;left:-1px;right:-1px;top:54px;background: #fff;opacity: 0.5}
    .select-pop p{padding:0 0 0 20px;cursor: pointer}
    .select-pop p:hover{background:#eee;}
.search{background: #515151;height: 57px;width:100%;}
    .search-tip{width:48px;height: 57px;background: url('../img/icon_search_tip.gif') no-repeat center;float:right;}
    .search-ipt{position: absolute;left:64px;right:48px;height: 57px;background:#515151;padding: 0 10px;font-family: 'HelveticaNeueMediumCond', arial, sans-serif; font-size:22px;font-weight: bold;}
    .search-sub{float:left;height: 57px;background: #737373 url('../img/icon_search.gif') no-repeat center;width:64px;line-height: 5000em;overflow: hidden;cursor: pointer;}

/* loginpage Used
================================================================================================= */
.loginbox{background:#333 url('../img/login_panel_bg.gif');width:580px;height: 390px;border-radius: 10px;position:absolute;left:50%;top:50%;margin:-115px 0 0 -290px;padding:0;font-family: 'HelveticaNeueLTStd-MdCn', arial, sans-serif;
    -webkit-border-radius: 10px;-moz-border-radius: 10px;-o-border-radius: 10px;-ms-border-radius: 10px;}
    .loginbox-pho{width: 160px;height: 160px;position: absolute;top:-70px;left:50%;margin-left:-80px;}
        .loginbox-pho img{border-radius: 100px;border:#fff solid 4px;
            -webkit-border-radius: 100px;-moz-border-radius: 100px;-o-border-radius: 100px;-ms-border-radius: 100px;}
    .loginbox form {margin-top:120px;}
    .logfi{border:#666 solid 3px;width:332px;height: 48px;padding:0 0 0 48px;margin:0 auto 15px;}
    .logbtn{margin:0 auto 10px;width:434px;}
    .logfindpw{margin:20px auto 10px;width:380px;text-align: right;}
    .logfindpw a {color:#959595;font-size:18px;}
    .logfi-name{background:#fff url('../img/login-name.gif') no-repeat 7px center;}
    .logfi-pas{background:#fff url('../img/login-pas.gif') no-repeat 8px center}
    .logfi input{width:230px;height:40px;border:#959595 solid ;color:#959595;border-width: 0 0 0 1px;margin-top:4px;padding:5px 0 0 10px;}
    .logbtn div {background: #db2842;border: #c0152d 3px solid;color:#fff;width:380px;height:40px;line-height:48px;text-align: center;margin:0 auto;display: block;font-size: 18px}



/* main Used
================================================================================================= */
.main{background: #2c2c2c;}
.time-item{padding:56px 0;}
    .time-date{background: url('../img/time_item.png') no-repeat;width:279px;height:279px;text-align: center;color:#666;font-size:44px;margin:0px auto;font-family: 'HelveticaNeueMediumCond', arial, sans-serif;}
    .time-date span{display: block;font-size:110px;line-height:180px;padding:40px 0 0; }
.item-info{display: none}