body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:71px;
    top:19px;
    width:83px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_line {
    background-image: url('../Edit_2_files/u1_line.png');
}

.u1_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:643px;
}

.u1 {
    position:absolute;
    left:199px;
    top:9px;
    width:10px;
    height:643px;
    
}

.u2 {
    position:absolute;
    left:232px;
    top:19px;
    width:132px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../Edit_2_files/Line_Horizontal_u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:944px;
    height:3px;
}

.u3 {
    position:absolute;
    left:229px;
    top:53px;
    width:944px;
    height:10px;
    
}

.u4_mouseOver {
    background-image: url('../Edit_2_files/u4_mouseOver.png');
}

.u4_normal {
    background-image: url('../Edit_2_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:1080px;
    top:73px;
    width:93px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:89px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Edit_2_files/Rectangle_u6_normal.png');
}

.u6_container {
    position:absolute;
    left:870px;
    top:73px;
    width:200px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:7px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:875px;
    top:76px;
    width:190px;
    height:24px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u9_line {
    background-image: url('../Edit_2_files/Line_Horizontal_u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:944px;
    height:3px;
}

.u9 {
    position:absolute;
    left:229px;
    top:113px;
    width:944px;
    height:10px;
    
}

.u10 {
    position:absolute;
    left:725px;
    top:78px;
    width:117px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:725px;
    top:60px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:582px;
    top:78px;
    width:117px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:582px;
    top:60px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:317px;
    top:536px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:232px;
    top:281px;
    width:103px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:232px;
    top:261px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:229px;
    top:179px;
    width:243px;
    height:23px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:229px;
    top:163px;
    width:243px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:229px;
    top:228px;
    width:243px;
    height:23px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:229px;
    top:212px;
    width:243px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:229px;
    top:349px;
    width:130px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u22 {
    position:absolute;
    left:229px;
    top:319px;
    width:109px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../Edit_2_files/Button_u23_mouseOver.png');
}

.u23_normal {
    background-image: url('../Edit_2_files/Button_u23_normal.png');
}

.u23_container {
    position:absolute;
    left:343px;
    top:351px;
    width:73px;
    height:18px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:24px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:69px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_mouseOver {
    background-image: url('../Edit_2_files/Button_u25_mouseOver.png');
}

.u25_normal {
    background-image: url('../Edit_2_files/Button_u25_normal.png');
}

.u25_container {
    position:absolute;
    left:229px;
    top:396px;
    width:100px;
    height:40px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u26 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_mouseOver {
    background-image: url('../Edit_2_files/Button_u25_mouseOver.png');
}

.u27_normal {
    background-image: url('../Edit_2_files/Button_u25_normal.png');
}

.u27_container {
    position:absolute;
    left:351px;
    top:396px;
    width:100px;
    height:40px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u28 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:229px;
    top:135px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_menu {
    background-image: url('../Edit_2_files/menu_u30_menu.png');
}

.u30_menu {
    position:absolute;
    left:11px;
    top:50px;
    width:174px;
    height:383px;
}

#u30_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:380px;
}

#u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:379px
}

.u32_mouseOver {
    background-image: url('../Edit_2_files/u32_mouseOver.png');
}

.u32_selected {
    background-image: url('../Edit_2_files/u32_selected.png');
}

.u32_normal {
    background-image: url('../Edit_2_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:165px;
    height:40px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u33 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_mouseOver {
    background-image: url('../Edit_2_files/u34_mouseOver.png');
}

.u34_selected {
    background-image: url('../Edit_2_files/u34_selected.png');
}

.u34_normal {
    background-image: url('../Edit_2_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:40px;
    width:165px;
    height:43px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:49px;
}

.u35 {
    position:absolute;
    left:6px;
    top:14px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_mouseOver {
    background-image: url('../Edit_2_files/u32_mouseOver.png');
}

.u36_selected {
    background-image: url('../Edit_2_files/u32_selected.png');
}

.u36_normal {
    background-image: url('../Edit_2_files/u32_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:83px;
    width:165px;
    height:40px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u37 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_mouseOver {
    background-image: url('../Edit_2_files/u32_mouseOver.png');
}

.u38_selected {
    background-image: url('../Edit_2_files/u32_selected.png');
}

.u38_normal {
    background-image: url('../Edit_2_files/u32_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:123px;
    width:165px;
    height:40px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u39 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_mouseOver {
    background-image: url('../Edit_2_files/u32_mouseOver.png');
}

.u40_selected {
    background-image: url('../Edit_2_files/u32_selected.png');
}

.u40_normal {
    background-image: url('../Edit_2_files/u32_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:163px;
    width:165px;
    height:40px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u41 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_mouseOver {
    background-image: url('../Edit_2_files/u42_mouseOver.png');
}

.u42_selected {
    background-image: url('../Edit_2_files/u42_selected.png');
}

.u42_normal {
    background-image: url('../Edit_2_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:203px;
    width:165px;
    height:36px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u43 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_mouseOver {
    background-image: url('../Edit_2_files/u42_mouseOver.png');
}

.u44_selected {
    background-image: url('../Edit_2_files/u42_selected.png');
}

.u44_normal {
    background-image: url('../Edit_2_files/u42_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:239px;
    width:165px;
    height:36px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u45 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_mouseOver {
    background-image: url('../Edit_2_files/u46_mouseOver.png');
}

.u46_selected {
    background-image: url('../Edit_2_files/u46_selected.png');
}

.u46_normal {
    background-image: url('../Edit_2_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:275px;
    width:165px;
    height:33px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u47 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_mouseOver {
    background-image: url('../Edit_2_files/u46_mouseOver.png');
}

.u48_selected {
    background-image: url('../Edit_2_files/u46_selected.png');
}

.u48_normal {
    background-image: url('../Edit_2_files/u46_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:308px;
    width:165px;
    height:33px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u49 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../Edit_2_files/u46_mouseOver.png');
}

.u50_selected {
    background-image: url('../Edit_2_files/u46_selected.png');
}

.u50_normal {
    background-image: url('../Edit_2_files/u46_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:341px;
    width:165px;
    height:33px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u51 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

